version: "3.9"

services:
  frontend:
    container_name: jobify-frontend
    build: ./frontend
    volumes:
      - ./frontend:/app
    restart: always
    expose:
      - "3000"

  backend:
    container_name: jobify-backend
    build: ./backend
    volumes:
      - ./backend:/var/www/html
    restart: always
    expose:
      - "80"
    environment:
      DB_HOST: db
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}

  db:
    container_name: jobify_db
    image: mysql:8.0
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql

  nginx:
    container_name: jobify_reverse
    image: nginx:alpine
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
    depends_on:
      - frontend
      - backend

volumes:
  db_data:
