.dashboard-layout {
    display: flex;
    min-height: calc(100vh - 70px);
    /* Adjust based on main Header height */
}

.dashboard-sidebar {
    width: 250px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.dashboard-content {
    flex-grow: 1;
    overflow-y: auto;
}

.nav-link:hover {
    background-color: #f8f9fa;
}

.nav-link.active:hover {
    background-color: #0d6efd;
    /* Bootstrap primary darkest */
}