/* RESET BÁSICO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tipografía base */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.5;
  background-color: #f8f9fa;
  color: #212529;
}

/* Imágenes y videos */
img, picture, video {
  max-width: 100%;
  display: block;
}

/* Enlaces */
a {
  text-decoration: none;
  color: inherit;
}

/* Listas */
ul, ol {
  list-style: none;
}

/* Botones y inputs */
button, input, textarea, select {
  font: inherit;
  outline: none;
  border: none;
  background: none;
}

/* Tablas */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Header */
#header {
  background-color: #00000007;
  padding: 1rem 0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.1);
}